.navar{
    background-color: #333237;
    height:70px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 5px 20px;
}

.div2{
    width: 500px;
}

#titulo{
    padding: 10px 10px;
    background: #333237;
    text-align: center;
    color: #fff;
    display: block;
    width: 300px;
    margin: 10px auto;
}

#contenedor-locales{
    padding: 20px;
}

.card {
    max-width: 400px; /* Reducimos el ancho máximo de la tarjeta */
    margin: 10px; /* Agregamos un pequeño margen entre las tarjetas */
    border-radius: 20px; /* Reducimos el radio de borde */
    border: none; /* Quitamos el borde */
    overflow: hidden; /* Ocultamos cualquier contenido que se desborde */
}

.card-img {
    width: 100%; /* Aseguramos que la imagen ocupe todo el ancho de la tarjeta */
    height: 150px; /* Fijamos una altura para la imagen */
    object-fit: cover; /* Hacemos que la imagen se ajuste dentro de su contenedor manteniendo su relación de aspecto */
    border-radius: 20px 20px 0 0; /* Agregamos un radio de borde solo en las esquinas superiores */
}

.card-text {
    font-size: 18px; /* Ajustamos el tamaño del texto del título */
}
