body {
    font-family: 'Roboto, Montserrat', sans-serif;
}


#navar{
    background-color: #333237!important;
    height:70px;
}

.nav-item a{
    color: white;
}

#logo{
    color: #fff;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    margin: 0px;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 0px 20px;
}

#div1-p1 {
    text-align: center; 
    font-size: 18px; 
    color: #007bff; 
    font-weight: bold;
}

#div1-p2 {
    text-align: center; 
    font-size: 16px; 
    color: #6c757d;
}

.div2{
    width: 400px;
}

#titulo{
    padding: 7px 15px;
    background: #333237;
    text-align: center;
    color: #fff;
    display: block;
    width: auto;
    margin: 30px 0px;
}

.contenedor-locales{
    padding: 0px 20px;
    margin: 7px;
}

.card {
    max-width: 400px; 
    border-radius: 20px 20px 0px; 
    overflow: hidden; 
    border-color:#fb8351 ; 
    background-color: black;
    color: white;
}

.card-img-top {
    width: 100%; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 20px 20px 0 0;

}

.card-text {
    font-size: 18px; 
}

.card :hover{
    color: white;
    background-color: #fb8351;
}

#ending{
    background-color: #333237;
    color: #fff;
    padding: 30px 10px;
    margin-top: 30px;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: white;
}


.card:hover img {
    transform: scale(1.1);
}