

body{
    font-family: Arial, sans-serif;
    background-image: url('../img/fondo-login.jpg');
    background-size: cover;
    background-position: center; 
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}

h3{
    color: #ff3b30;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 19px;
    margin-bottom: 0px;
}

h1{
    color: #fff;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    margin: 0px;
}

h2{
    font-family: 'Lobster', cursive;
    color: #e5e5e5;
    font-size: 16px;
    margin: 0 20px;
}
.hamburguer {
    margin: 15px; /* Añade un margen de 20px en todos los lados del contenedor */
    overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
    height: 90%;
}

.hamburguer img {
    width: auto; /* La imagen se ajustará automáticamente al 100% de su altura original */
    height: 100%; /* Hace que la imagen ocupe el 100% de la altura del contenedor */
    display: block; /* Hace que la imagen sea un bloque para que los márgenes automáticos funcionen */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5); /* El último valor (0.5) controla la opacidad del negro (0 totalmente transparente, 1 totalmente opaco) */
    z-index: 2; /* Asegura que el rectángulo esté encima del contenido */
    text-align: center;
}

.overlayBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 17%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.containerButton {
    position: fixed;
    bottom: 17%;
    width: 100%;
    height: 10%;
    z-index: 1;

}

.button {
    font-family: 'Montserrat', sans-serif;
    background-color: #ff3b30;
    color: #ffffff;
    padding: 5px 90px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
     /* Ajusta según sea necesario para colocar el botón un poco más abajo de la mitad de la pantalla */
}

.overText{
    width: 100%;
    height: 40%;
    margin-top: 15px;
    padding: 5px 30px;
    color: #e5e5e5;
    text-align: left;
}

.icons{
    width: fit-content;
    height: fit-content;
    z-index: 1;
}

.icons a{
    border: 1px solid #ccc;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}
