
body{
    font-family: Arial, sans-serif;
    background-image: url('../img/fondo-login.jpg');
    background-size: cover;
    background-position: center; 
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}  

h3{
    color: #ff3b30;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 19px;
    margin-bottom: 0px;
}

h1{
    color: #fff;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    margin: 0px;
}

h2{
    font-family: 'Lobster', cursive;
    color: #e5e5e5;
    font-size: 16px;
    margin: 0 20px;
}
.hamburguer {
    margin: 15px; 
    overflow: hidden; 
    height: 90%;
    justify-content: center;
}

.hamburguer img {
    width: auto; 
    height: 100%;
   
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 2; 
    text-align: center;
}

.overlayBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 17%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.containerButton {
    position: fixed;
    bottom: 15%;
    width: 100%;
    height: 10%;
    z-index: 1;

}

.button {
    font-family: 'Montserrat', sans-serif;
    background-color: #ff3b30;
    color: #ffffff;
    padding: 5px 90px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
     
}

.overText{
    width: 100%;
    height: 40%;
    margin-top: 15px;
    padding: 5px 30px;
    color: #e5e5e5;
    text-align: left;
}

.icons {
    position: fixed;
    top: 20px; /* Ajusta la distancia desde la parte superior según sea necesario */
    right: 16px; /* Ajusta la distancia desde la derecha según sea necesario */
    z-index: 3; /* Asegura que el icono esté en la parte superior */
}

.icons a{
    border: 1px solid #ccc;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}
